.filters{
    display: flex;
    flex-direction: column;
align-items: center;
width: 75vw;


.CategoryButtonParent{

    display: flex;
     width: 75vw;
    justify-content: flex-start;
    gap: 2rem;
    margin-top: 2rem;
    position: relative;

    .All{
        //this element did not work when just selecting as h1?
        border-radius: .4em;
        border: .15rem blue solid ;
        font-weight: 500;
        padding: .5rem 1.2rem .5rem 1.2rem ;
        

    }
    .buttonActive{
        border: 30px red solid;
    }


    .buttonA{
        background-color: rgb(255, 158, 240);
        border-radius: .4em;
        color: white;
        height: 1rem;
        font-weight: 500;
        padding: .8rem 1.5rem 1.8rem 1.5rem ;
        border: none;
        margin-left: 1rem;
        
    }
  

    .buttonB{
        background-color: rgb(156, 237, 178);
        border-radius: .4em;
        color: white;
        height: 1rem;
        font-weight: 500;
        padding: .8rem 1.5rem 1.8rem 1.5rem ;
        border: none;

        &.active{
            background-color: red;
        }
        
    }
      
    

    .buttonC{
        background-color: rgb(255, 228, 158);
        border-radius: .4em;
        color: white;
        height: 1rem;
        font-weight: 500;
        padding: .8rem 1.5rem 1.8rem 1.5rem ;
        border: none;
        
    }

    .arrow{
        border-radius: .4em;
        border: .15rem blue solid ;
        font-weight: 500;
        padding: .5rem 1.2rem .5rem 1.2rem ;
        background-color: transparent;
        position: absolute;
        right: 0;

    }

    .active{
        background-color: red;
    }



}
.CompanyButtonParent{

    display: flex;
     width: 100%;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
    margin-top: 2rem;
    position: relative;


    .AllProviders{
        //this element did not work when just selecting as h1?
        border-radius: .4em;
        border: .15rem blue solid ;
        font-weight: 500;
        padding: .5rem 1.2rem .5rem 1.2rem ;
        

    }

   

    .Dacreed{
        background-color: rgb(255, 158, 240);
        border-radius: .4em;
        color: white;
      
        font-weight: 500;
        padding: .8rem 1.5rem .8rem 1.5rem ;

        border: none;
        margin-left: 1rem;
        
    }

    .Maccas{
        background-color: rgb(156, 237, 178);
        border-radius: .4em;
        color: white;
       
        font-weight: 500;
        padding: .8rem 1.5rem .8rem 1.5rem ;
        border: none;
        
    }

    .jimsCoding{
        background-color: rgb(255, 228, 158);
        border-radius: .4em;
        color: white;
        font-weight: 500;
        padding: .8rem 1.5rem .8rem 1.5rem ;
        border: none;
        
    }

    .arrow{
        border-radius: .4em;
        border: .15rem blue solid ;
        font-weight: 500;
        padding: .5rem 1.2rem .5rem 1.2rem ;
        background-color: transparent;
        position: absolute;
        right: 0;

    }

    .active{
        background-color: red;
    }



}



    
}




.searchFilters {
    display: flex;
   flex-direction: column;
    width: 75vw;
    align-items: center;
    margin-top: 4rem;

   
    .pageHeading{
        color:  rgb(0, 94, 255);
    
    }

    h1{
        font-size: 3rem;
        font-weight: 500;
        margin-bottom: 0px;
    }

    h2{
        font-size: .9rem;
        display: flex;
        justify-content: center;
        margin-top: .1rem;
    }

    
    .searchBarParent{
        margin-top: 3rem;

        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: end;

        input{
            padding: 1em;
            border: none;
            width: 100%;
            border-radius: .7rem;
            font-style: inherit;
            color: inherit;
            background-color: rgb(157, 215, 252);
            &:focus {
                outline: none;}
            
           

        }

        button{
           
            border: none;
            border-radius: .4em;
            background-color: transparent;
            // margin-top: 10px;
            margin-right: .5rem;
            padding: .4rem .75rem .4rem .75rem ;
            background-color: rgb(0, 94, 255);
            // height: 1rem;
        font-weight: 600;
        position: absolute;
            color: white;



            
        }
    }


   

}






